:root {
    --background: #1F1F1F;
    --background-100: #252525;
    --background-200: #2F2F2F;
    
    --primary: #FFED47;
    --primary-200: #fff7ad;

    --text: #FFFFFF;
    --text-error: #E24141;
    --subtext: #D4D4D4;

    --border: #363636;
    --border-100: #282828;

    --warning: #EF6C00;
}

.server-config {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.server-config .server-page {
    flex-grow: 1;
}

.dash-nav {
    display: grid;
    grid-template-rows: 2.1rem 1fr;
    height: 100vh;
    width: 240px;
    max-width: 100vw;
    background-color: var(--background-100);
}

.dash-nav nav {
    padding: .1rem;
}

.dash-nav a {
    text-decoration: none;
}

.dash-banner, .dash-banner .dash-banner-image {
    width: 240px;
    max-width: 100vw;
    height: 2.1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.dash-banner-image {
    position: absolute;
    background-color: var(--background-200);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash-banner-image .inner {
    filter: blur(4px);
    background-image: var(--image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 110%;
    height: 110%;
}

.dash-banner h1 {
    margin: 0;
    width: auto;
    text-align: center;
    z-index: 1;
    font-size: .7rem;
    font-weight: bold;
    color: var(--text);
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    user-select: none;
}

.server-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.dash-servers-content {
    flex-grow: 1;
    padding: .2rem;
}

.dash-servers {
    width: 64px;
    height: 100vh;
    background-color: var(--background-200);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.dash-servers::-webkit-scrollbar {
    display: none;
}

.dash-server-icon {
    width: 50px;
    height: 50px;
    background-color: var(--background-100);
    border-radius: .1rem;
    padding: 1px;
    cursor: pointer;
    outline: transparent solid 2px;
    transition: outline .15s;
}

.dash-servers a {
    margin-top: 8px;
}

.dash-servers a:nth-child(1) {
    margin-top: 0;
}

.dash-server-icon:hover {
    outline: var(--background) solid 2px;
}

.dash-server-icon.selected {
    outline: var(--primary) solid 2px;
}

.dash-server-icon.selected:hover {
    outline: var(--primary-200) solid 2px;
}

.dash-server-icon[disabled] {
    cursor: default;
    opacity: .5;
}

.link-wrap {
    line-height: 0;
    color: transparent;
    text-decoration: none;
}

.server-config {
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(230, 230, 230, 0.4);
    border-radius: 16px;
    border: 5px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(230, 230, 230, 0.2);
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.account {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 5vw;
}

.account .home {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 95vw;
    padding-bottom: 10px;
}

.account .home .paper {
    margin-top: 10px;
    max-width: 95vw;
}

.account .home .logo {
    --size: min(30px);
    width: var(--size);
    height: var(--size);
}

.account .home h1 {
    text-align: center;
    color: var(--text);
    font-weight: 300;
}

.account .home h1.servers {
    margin-bottom: .35rem;
    margin-top: 1.5rem;
}

.account .home .server {
    width: auto;
    height: auto;
}

.account .home .server p {
    text-align: center;
}

.account .home .server .icon {
    width: var(--size);
    height: var(--size);
    border-radius: .15rem;
    background-color: var(--background-200);
}

.account .home .server.disabled {
    cursor: unset;
    opacity: .5;
}

.account .home .server.enabled {
    cursor: pointer;
}

.account .home .server.enabled .icon {
    transition: filter .15s;
}

.account .home .server.enabled:hover .icon {
    filter: brightness(.7);
}

.account .home .server p {
    margin-top: .1rem;
}

.account .home .server-list {
    --size: 128px;
    --gap: 1rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, var(--size));
    justify-content: center;
    justify-items: center;
    row-gap: var(--gap);
    column-gap: var(--gap);
    max-width: 100%;
    width: calc(calc(var(--size) + var(--gap)) * 6);
}

.account .home .server-list a {
    text-decoration: none;
}

.account .home .branding-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.account .home .branding-container a {
    text-decoration: none;
}

.account .home .branding h1 {
    transition: color .15s;
}

.account .home .branding:hover h1 {
    color: var(--subtext);
}

.account .home .branding {
    background-color: var(--background-100);
    padding: .25rem;
    padding-right: .4rem;
    border-radius: .15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.25rem;
}

.account .home .branding h1 {
    font-weight: 700;
    margin: 0;
    user-select: none;
}

.bot-analytics h1 {
    color: var(--text);
    margin: 0;
    margin-bottom: .15rem;
    font-size: .7rem;
}

.bot-analytics .data-container h1 {
    text-align: center;
}

.bot-analytics .data-container {
    padding: .2rem;
}

.bot-analytics .row {
    display: flex;
}

.data-chart {
    border-radius: .15rem;
    background-color: var(--background-200);
}

.bot-analytics .listed-server {
    width: calc(100% - .4rem);
    height: 2.4rem;
    padding: .2rem;
    border-radius: .15rem;
    background-color: var(--background-200);
    display: flex;
    align-items: center;
    margin-bottom: .25rem;
}

.bot-analytics .listed-server:last-child {
    margin-bottom: 0;
}

.bot-analytics .listed-server .icon {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: .15rem;
    margin-right: .35rem;
}

.bot-analytics .listed-server p {
    margin: 0;
    font-weight: 700;
}

.bot-analytics .listed-server p.members {
    color: var(--subtext);
    font-size: .5rem;
    font-weight: 300;
}

.bot-analytics .container.servers, .bot-analytics .container.logs {
    width: 100%;
    padding: .2rem;
}

.app-account .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-100);
    border-radius: .2rem;
    box-shadow: 0 .15rem .6rem rgba(0, 0, 0, 0.1);
    margin: .3rem;
    padding: .25rem;
}

.no-link-decoration:hover, .no-link-decoration {
    text-decoration: none;
}

.app, .app-account, .server-config {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.app, .server-config {
    overflow-y: hidden;
}

.app .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    border-radius: .2rem;
    box-shadow: 0 .05rem .3rem rgba(0, 0, 0, 0.25);
    padding: .25rem;
}

a:visited, a:link {
    color: unset;
}