:root {
    --background: #1F1F1F;
    --background-100: #252525;
    --background-200: #2F2F2F;
    
    --primary: #FFED47;
    --primary-200: #fff7ad;

    --text: #FFFFFF;
    --text-error: #E24141;
    --subtext: #D4D4D4;

    --border: #363636;
    --border-100: #282828;

    --warning: #EF6C00;
}

span, img {
    user-select: none;
    -webkit-user-drag: none;
}

html {
    font-size: calc(1em + 1vw);
}

body {
    margin: 0;
    background-color: var(--background);
    width: 100vw;
    overflow-x: hidden;
    position: relative;
}

a {
    color: var(--primary);
    text-decoration-color: transparent;
    transition: text-decoration-color .15s;
}

a:hover {
    text-decoration-color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary);
    font-weight: 700;
    margin-bottom: 0;
}

h1 {
    font-size: .95rem;
}

h2 {
    font-size: .8rem;
}

* {
    color: var(--text);
    font-weight: 400;
    font-style: normal;
    font-family: 'Source Sans Pro';
    font-size: .7rem;
}

a.button, button {
    background: none;
    border: .08rem solid var(--primary);
    border-radius: .15rem;
    padding: .1em .4em;
    line-height: .8rem;
    text-decoration: none;
    transition: background-color .25s, color .25s;
    color: var(--primary);
    cursor: pointer;
}

a.button:hover, button:hover {
    background-color: var(--primary);
    color: black;
}

h2.subheader {
    font-size: .9rem;
    font-weight: 400;
    color: var(--text);
    margin-top: 0;
}

.subheader a {
    font-size: .9rem;
    font-weight: 700;
    margin-top: 0;
}

.contents.legal {
    padding: 1rem;
}

.contents.legal h1:nth-child(1) {
    margin-top: 0;
}

.header-spacer {
    height: 45px;
}

.grid-mask::before {
    -webkit-mask-image: url(images/grid.png);
    mask-image: url(images/grid.png);
    -webkit-mask-repeat: repeat;
    mask-repeat: repeat;
    -webkit-mask-size: clamp(1vw, .7rem, 1rem);
    mask-size: clamp(1vw, .7rem, 1rem);
}

.home-banner {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.home-banner .container {
    display: flex;
    justify-content: center;
    background-image: radial-gradient(50% 100% at 50% 0%, rgba(255, 237, 71, 0.1) 0%, rgba(255, 237, 71, 0) 100%);
    width: 75%;
    height: 100%;
}

.home-banner .container .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 77%;
    height: 75%;
    padding-top: 45px;
}

.home-banner .container .inner::before {
    --height: calc(4rem + 15vw);
    content: "";
    position: absolute;
    width: 57.75%;
    height: calc(var(--height) * 0.75);
    top: 0;
    left: calc(50% - 57.75%/2);
    background-image: radial-gradient(50% 100% at 50% 0%, rgba(255, 237, 71, 0.1) 0%, rgba(255, 237, 71, 0) 100%);
    z-index: -1;
}

.home-banner .container .inner .logo {
    height: 3.5rem;
}

.home-banner .container .inner h1 {
    margin-top: 0;
}

.home-banner .container .inner a.button {
    margin-top: .3rem;
}

.logo {
    aspect-ratio: 1 / 1;
}

.center-text {
    text-align: center;
}

nav.header {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 100;
    height: 45px;
    width: 100%;
    padding-left: .25rem;

    background-color: linear-gradient(180deg, rgba(255, 237, 71, 0.05) 0%, rgba(255, 237, 71, 0) 100%);
    backdrop-filter: blur(1px);
}

nav .logo {
    --size: min(1.2rem, 30px);
    width: var(--size);
    height: var(--size);
    margin-right: .15rem;
}

nav a.img-link {
    margin: 0;
    line-height: 0;
}

nav a.nav {
    color: var(--text);
    margin-right: 8px;
    text-decoration: none;
    font-size: .55rem;
    transition: color 0.15s;
}

nav a.nav:hover {
    color: var(--subtext);
}

nav a.premium {
    color: var(--primary);
}

nav a.premium:hover {
    color: var(--primary-200);
}

section.features {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 3.5rem;
    width: 80vw;
    margin-top: .7rem;
}

@media (max-width: 800px) {
    .feature-grid {
        grid-template-rows: 1fr;
        grid-template-columns: auto;
        grid-auto-rows: unset;
        grid-auto-columns: unset;
        gap: 1.25rem;
    }
}

.feature {
    background-color: var(--background-100);
    box-shadow: 0px .875rem 1.3rem 1rem rgba(255, 237, 71, 0.03);
    border-radius: .35rem;
    padding: .44rem;
    display: flex;
}

.feature .column {
    height: 100%;
}

.feature .column:nth-child(2) {
    padding-left: .5rem;
}

.feature .icon {
    font-size: 2rem;
}

.feature h2 {
    margin-top: 0;
    margin-bottom: .2rem;
}

.feature p {
    margin-top: 0;
    margin-bottom: 0;
}

section.trustedby {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servers {
    margin-top: .25rem;
    width: calc(100% - .5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.servers a {
    line-height: 0;
}

.servers img.server {
    --size: 5rem;
    width: var(--size);
    height: var(--size);
    background-color: var(--background-200);
    border: .15rem solid var(--background-200);
    border-radius: .5rem;
    transition: width .15s, height .15s;
}

.servers .server-container {
    --size: 5.4rem;
    width: var(--size);
    height: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: .2rem;
    margin-right: .2rem;
    margin-bottom: .25rem;
}

.servers img.server:hover {
    --size: 5.4rem;
}

section.trybot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.trybot p {
    margin-top: .15rem;
    margin-bottom: .25rem;
}

footer .link-area {
    grid-area: links;
    display: flex;
    flex-direction: column;
}

footer .link-area a {
    text-align: center;
}

footer .logo-area {
    grid-area: logo;
    display: flex;
    align-items: center;
}

footer .info-area {
    grid-area: info;
}

footer .info-area p {
    margin: 0;
    margin-bottom: .1rem;
}

footer .logo-area h1 {
    margin: 0
}

footer .logo-area .logo {
    height: 1.5rem;
}

footer .contents {
    display: grid;
    width: 50vw;
    column-gap: .5rem;
    row-gap: .1rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "logo logo"
        "info links";
}

footer {
    margin-top: 1rem;
    width: 100%;
    background: linear-gradient(360deg, rgba(255, 237, 71, 0.1) 0%, rgba(255, 237, 71, 0) 100%);
    display: flex;
    justify-content: center;
    padding-bottom: .3rem;
}

footer::before {
    --height: calc(4rem + 8vw);
    content: "";
    position: absolute;
    height: calc(var(--height) * 0.75);
    width: 100%;
    bottom: 0;
    background: linear-gradient(360deg, rgba(255, 237, 71, 0.1) 0%, rgba(255, 237, 71, 0) 100%);
    z-index: -1;
}

.avatar {
    --size: 1.5rem;
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
}

.no-overflow {
    overflow: hidden;
}

.app {
    width: 100vw;
    height: 100vh;
}

.app .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    border-radius: .2rem;
    box-shadow: 0 .05rem .3rem rgba(0, 0, 0, 0.25);
    padding: .25rem;
}

.verify {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: none;
}

.verify .container {
    width: 8.5rem;
    max-width: 90vw;
    margin-top: .15rem;
    margin-bottom: .15rem;
}

.verify .container.header {
    flex-direction: row;
}

.verify .container.header h1 {
    margin: 0;
    margin-left: .15rem;
    color: var(--text);
    font-size: .6rem;
}

.verify .container.body .MuiCircularProgress-root svg, .verify .container.body .MuiCircularProgress-root svg circle {
    color: var(--primary);
}

.verify .container.body .message {
    margin-top: 0;
}

.verify .container p, .verify .container a {
    font-size: .4rem;
}

.verify .container.legal {
    align-items: unset;
}

.verify .container.legal p, .verify .container.legal a {
    margin: 0;
}

.verify .container.legal p:nth-child(2) {
    margin-top: .15rem;
}

.container.warning {
    background-color: var(--warning);
}

.verify .container.warning {
    display: flex;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
}

.verify .container.warning p {
    font-weight: bold;
    font-size: .45rem;
}

.verify .container.warning .icon {
    font-size: 1.25rem;
    padding-right: .15rem;
}

button.verify-btn {
    font-size: .5rem;
    padding: 0rem .15rem;
    margin-top: .5rem;
}

@media (max-width: 500px) {
    .verify .container {
        width: 10.5rem;
    }

    .verify .container p, .verify .container a {
        font-size: .48rem;
    }

    .verify .container.header h1 {
        font-size: .7rem;
    }

    .verify .avatar {
        --size: 1.8rem;
    }
}