.card {
    &:hover {
        background-color: var(--mantine-color-dark-5);
    }
}

.container {
    padding: 0 rem(128);
}

.trustedGroupv2 {
    display: flex;
    justify-content: center;

    p {
        user-select: none;
    }

    :link {
        text-decoration: none;
    }
}