.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.paper {
    max-width: 95vw;
    width: rem(500);
}